<?php 
require_once 'app/code/local/Expressly/Migrator/Helper/ExpresslyConfig.php';
$config = new ExpresslyConfig();
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script>
    // var baseUrl = {{  }};
    // baseUrl can work as document.referer
    // var isRedirectEnabled = <?php echo $config->isRedirectEnabled(); ?>;
    // var isRedirectToLoginEnabled = <?php echo $config->isRedirectToLogin(); ?>;
    // var redirectDestination = "<?php echo $config->getRedirectDestination(); ?>";
</script>
</head>
<body></body>
</html>
